.section-product-listing {
    .product-search {}

    .product-listing {
        &__item {
            display: inline-flex;
            width: 50%;
            align-items: center;
            @media only screen and (max-width: 768px) {
                width: 100%;
                justify-content: center;
                .img-wrap{
                    margin-right: 8%;
                }
            }
            .img-wrap {
                width: 200px;
                height: 200px;
                display: block;
            }
            &-wrapper{
                button{
                    margin-top: 18px;
                }
            }
        }
    }
}

//search bar

.product-search-bar {
    max-width: 450px;
    margin: auto;
    &-wrapper {
        width: 60px;
        height: 60px;
        margin: auto;
        background-color: white;
        display: flex;
        border-radius: 0% 30px 30px 30px;
        transition: width 1s;
        box-shadow: 5px 5px 20px #d8e6fd, -5px -5px 30px white;
        margin-left: auto;
        margin-right: auto;

        &:hover,
        &:active,
        &:focus {
            width: 100%;
            border-radius: 0% 30px 30px 30px;

            .darksoul-search-input {
                display: inline-flex;
                width: 78%;
                height: 70%;
            }
        }

        .search-icon {
            margin-bottom: auto;
            margin-top: auto;
            margin-left: 5px;
            margin-right: auto;
            border-radius: 50%;
        }

        .product-search {
            margin: auto;
            display: none;
            transition: display 12s;
            outline: none;
            border: none;
            font-family: 'Belanosima', sans-serif;
            border-radius: 25px;
            padding-left: 10px;
        }
    }

}

input[type="submit"] {
    display: none;
}

@media only screen and (max-width: 600px) {
    .darksoul-search-bar:hover {
        width: 80%;
        border-radius: 0% 30px 30px 15px;
    }
}
.section-product-detail{
    .wrapper{
        min-height: 400px;
    }
}